test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3943a430-7758-4f29-967c-ee5e1e674b33" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="1d2189b1-f9e4-47e5-9655-3f24f51e07c7" >
		<http:listener doc:name="Listener" doc:id="e86ecd90-75a5-4347-b6a2-d0915f22651c" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello"]' doc:name="Set Payload" doc:id="107f9628-3f16-4faf-a9da-8fb66a14d0a5" />
		<salesforce:reset-password doc:id="de66fc41-79d6-4447-98ae-535f5accfaa2" doc:name=""/>
	</flow>
</mule>
